# Auth Service
PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appname>
JWT_SECRET=your_jwt_secret_here

# Auction Service
PORT=5002
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/auction-db?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here

# Bid Service
PORT=5003
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appname>
REDIS_URL=rediss://default:<password>@<host>.upstash.io:6379
JWT_SECRET=your_jwt_secret_here
AUCTION_SERVICE_URL=http://localhost:5002
INTERNAL_SECRET=your_internal_secret_here

# Notification Service
PORT=5004
REDIS_URL=rediss://default:<password>@<host>.upstash.io:6379

# Gateway
PORT=5000