# Auth Service
PORT=5001
MONGO_URI=mongodb+srv://bidrush_user:Satyam%401507@bidrush.raapvbh.mongodb.net/?appName=bidrush
JWT_SECRET=MyBidRushSecret2024

# Auction Service
PORT=5002
MONGO_URI=mongodb+srv://bidrush_user:Satyam%401507@bidrush.raapvbh.mongodb.net/auction-db?retryWrites=true&w=majority&appName=bidrush
JWT_SECRET=MyBidRushSecret2024

# Bid Service
PORT=5003
MONGO_URI=mongodb+srv://bidrush_user:Satyam%401507@bidrush.raapvbh.mongodb.net/?appName=bidrush
REDIS_URL=rediss://default:gQAAAAAAikdAAIgcDExMzgxMWJjM2E3ZDM0ZjM0YTNkNGZmODRmMDQ3NzEwNw@outgoing-camel-141597.upstash.io:6379
JWT_SECRET=MyBidRushSecret2024

# Notification Service
PORT=5004
REDIS_URL=rediss://default:gQAAAAAAikdAAIgcDExMzgxMWJjM2E3ZDM0ZjM0YTNkNGZmODRmMDQ3NzEwNw@outgoing-camel-141597.upstash.io:6379

# Gateway
PORT=5000